<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/skeleton/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton/skeleton.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
    <header>
        <nav class="row">
            <a href="/" class="nine columns">PodComm logo</a>
            <ul class="three columns">
              <li>
              <% if (user) { %>
                <a href="/logout" class="button button-primary">Log Out</a>
              <% } else { %>
                <a href="/auth/google" class="button button-primary">Login with Google</a>
              <% } %>
              </li>
            </ul>
        </nav>
    </header>
    <main>    
        <h1><%= title %></h1>