<!DOCTYPE html>
<html>
  <head>
    <title>PodComm</title>
    <link rel="stylesheet" href="/stylesheets/skeleton/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton/skeleton.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="page-container">
      <div id="content-wrap">
    <header>
      <a href="/"><img class="logo" src="https://i.imgur.com/8tpLI2G.png" title="source: imgur.com" /></a>
        <nav class=>
            <ul>
              <li>
              <% if (user) { %>
                <a href="/logout" class="button button-primary">Log Out</a>
              <% } else { %>
                <a href="/auth/google" class="button button-primary">Login with Google</a>
              <% } %>
              </li>
            </ul>
        </nav>
    </header>
    <main>    
        <h3><%= title %></h3>