<%- include('partials/header') %>

<div class="div-title">
  <h1 class="main-title">PODCOMM</h1>
  <h4><i>A PodCast Listening Community!</i></h4>
</div>


<h5>Hey there fellow listeners here we call podcasts <span class="landing-page">Peas</span> and you have your very own <i>pod</i> to put them in. The instructions are easy! Add a podcast you've listened to and then enrich your <span class="landing-page">peas</span> with with a review and rating. If you've been curious about a certain podcast search it up! If another user has added that <span class="landing-page">pea</span> to their <i>pod</i> then you can see what they thought about it.</h5>

<h5> Just press that login button in the top right corner to get started!</h5>

<label>Already logged in?</label>
<a href="/podcasts" class="button button-primary">Click here</a>

<%- include('partials/footer') %>