body {
  padding: 0;
}

header {
  background-color: #A6D5AE;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main {
  padding: 50px;
  padding-top: 0;
}

a {
  color: #00B7FF;
}

.logo {
  height: 90px;
}

nav ul li {
  list-style-type: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 6vh;
}


#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6vh;
  width:100%;
  background-color: #d6ffd8;
  text-align: center;
}

.footer-content {
  position: relative;
  top: 9px;
}

.search-items {
  background-color: #A6D5AE;
  height: 29vh;
  margin: 4px 6px;
  padding: 24px 0 0 24px;
  overflow: scroll;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 7px 0px #8fbc8e; 
  box-shadow: 0px 0px 7px 0px #8fbc8e;
}

.search-items li {
  list-style-type: none;
}

.latest-review {
  display: none;
}

.latest-review:last-child {
  display: contents;
}

.search-name {
  text-transform: capitalize;
}

.user-index{
  background-color: #A6D5AE;
  height: 29vh;
  margin: 4px 6px;
  padding: 24px 0 0 24px;
  border-radius: 12px;
  overflow: scroll;
  -webkit-box-shadow: 0px 0px 7px 0px #8fbc8e; 
  box-shadow: 0px 0px 7px 0px #8fbc8e;
}

.user-index li {
  list-style: none;
  text-transform: capitalize; 
}

.show-button * {
  display: inline-block;
}

.landing-page {
  color: green;
}

.pea-details {
  background-image: linear-gradient(45deg, #ade4ca, #A6D5AE, #8fbc8e, #64A466);
  background-size: 300%;
  background-position: left;
  transition: background-position 1s;
  -webkit-box-shadow: 0px 0px 12px 0px #8fbc8e; 
  box-shadow: 0px 0px 12px 0px #8fbc8e;
}

.pea-details:hover,
.pea-details:focus {
  background-position: right;
}

.columns:first-child {
  margin-left: 6px;
}