body {
  padding: 0;
}

header {
  padding: 20px;
  padding-bottom: 0;
}

main {
  padding: 50px;
  padding-top: 0;
}

a {
  color: #00B7FF;
}

.logo {
  height: 90px;
}

nav ul li {
  list-style-type: none;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 6vh;
}


#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6vh;
  width:100%;
  background-color: #d6ffd8;
  text-align: center;
}

.footer-content {
  position: relative;
  top: 9px;
}

.search-items {
  background-color: #D6FFD8;
  height: 29vh;
  margin: 2px;
  padding: 24px 0 0 24px;
  overflow: scroll;
}

.search-items li {
  list-style-type: none;
}

.latest-review {
  display: none;
}

.latest-review:last-child {
  display: contents;
}

.search-name {
  text-transform: capitalize;
}

.user-index {
  list-style: none;
  text-transform: capitalize; 
}