body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav ul li {
  list-style-type: none;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2vh;
  background-color: #d6ffd8;
  text-align: center;
}