<%- include('../partials/header') %>


<h3>Working index page</h3>
<a href="/podcasts/new" class="button button-primary">Add a podcast</a>
<a href="/podcasts/search" class="button button-primary">Search podcasts</a>

<%- include('../partials/footer') %>