<%- include('../partials/header') %>

<h3>Search page</h3>
<a href="/podcasts" class="button button-primary">Go Back</a>
<form action="/podcasts/search" method="GET">
  <input type="search" name="podTitle" placeholder="Search Podcast Title">
  <input type="submit" class="button button-primary">
</form>

<% podcasts.forEach(function(p) { %>
  <li><%= p.title %></li>
<% }) %>


<%- include('../partials/footer') %>